body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.menu-bar li {
    float: left;
    padding: 0 8.5px;
    list-style-type: none;
}
ul.menu-bar {
  position:absolute;
  left:0;
  display: block;
  width: calc(100% + 260px);
  padding: 0;
  height:44px;
  padding-left:8px;
  margin:0
}
#menu-box-id {
  width: calc(100%);
  height: 44px;
  display: block;
  position: relative;
  overflow: scroll;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
.menu-bar li a:hover,.menu-bar li a:focus,.menu-bar li a:active,.menu-bar li.active a {
	background:#f8b713;
	color:#000;
	text-decoration:none;
}
.menu-bar li a:hover:before,.menu-bar li a:focus:before,.menu-bar li a:active:before,.menu-bar li.active a:before {
    border-right: 7px solid #f8b713;
    border-bottom: 21px solid #f8b713;
}
.menu-bar li a:hover:after,.menu-bar li a:focus:after,.menu-bar li a:active:after,.menu-bar li.active a:after {
	border-left: 7px solid #f8b713;
    border-top: 21px solid #f8b713;
}
.menu-bar li a {
    display: block;
    font-size: 20pt;
    padding: 2.5px 3px 1px;
    text-transform: uppercase;
    font-weight: 400;
    background: #cccccc;
    color: #fff;
    font-family: 'Passion One', cursive;
    position: relative;
}
h3 {
    font-family: 'Passion One', cursive !important;
    font-size: 34pt !important;
    line-height: 0.8 !important;
}
.filter-pipa .filter-label img{opacity:0.3}
.filter-pipa .filter-label.active img{opacity:1}
.filter-pipa .filter-label {
    color: #ccc;
}
.filter-pipa .filter-label.active {
    color: #000;
}
.menu-bar li a:before {
    content: "";
    display: block;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid #ccc;
    border-top: 21px solid transparent;
    border-bottom: 21px solid #ccc;
    top: 0;
    right: 100%;
}
.menu-bar li a:after {
    content: "";
    display: block;
    position: absolute;
    border-left: 7px solid #ccc;
    border-right: 7px solid transparent;
    border-top: 22px solid #ccc;
    border-bottom: 22px solid transparent;
    top: 0;
    left: 100%;
}

.article-1 {
    padding: 25px 20px;
    height: 50%;
	background:#f8b713;
	position:absolute;
	color:#fff;
	top:0;
	left:0;
	width:100%;
    text-align: justify;
}

article {
    min-height: calc(100vh - 134px);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffff9a !important;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #fff;
}
table{color:#000}
.filter-pipa+div > div {
    height: calc(100vh - 134px) !important;
	width:100% !important;
}
.article-2 {
    padding: 15px 20px 0;
    height: 50%;
    text-align: justify;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.article-line {
    position: relative;
    overflow-y: scroll;
    display: block;
    max-height: 100%;
}

#menu-box-id+div {
    width: 100% !important;
}
.table td{
    padding: 0px 5px !important;
    border-top: 0px solid #dee2e6 !important;
}
.table-striped tr:nth-child(odd) td:nth-child(1), .table-striped tr:nth-child(odd) td:nth-child(2), .table-striped tr:nth-child(odd) td:nth-child(3) {
    background: #cccccc;
}
.table th {
    padding: 3px 5px !important;
    border-top: 3px solid #000 !important;
    background: #fff;
    color: #000;
    border-bottom: 3px solid #000;
    line-height: 1.1;
}
iframe {
    max-width: 100%;
    height: auto;
}
img{max-width:100%;}
th{vertical-align:middle !important}
a.btn.btn-default.more {
    background: #f8b713;
    color: #000;
    border-radius: 0;
}


.rb-switcher input{display:none}
.rb-switcher i{
	display:inline-block;
	cursor:pointer;
	background:#f8b713;
	padding-right:20px;
	transition:all ease 0.2s;
	-webkit-transition:all ease 0.2s;
	border-radius:20px;
	box-shadow:inset 0 0 1px rgba(0,0,0,0.5),inset 0 0 40px #f8b713;
	-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.5),inset 0 0 40px #f8b713
}
.rb-switcher i:before{
	display:block;
	content:'';
	width:20px;
	height:20px;
	border-radius:20px;
	background:#FFF;
	box-shadow:0 0 1px rgba(0,0,0,1)
}
.rb-switcher :checked+i {
    padding-right: 0;
    padding-left: 20px;
    box-shadow: inset 0 0 1px rgb(248, 183, 19), inset 0 0 140px #f8b713;
    -webkit-box-shadow: inset 0 0 1px rgb(248, 183, 19), inset 0 0 140px #f8b713;
}
.logo img{
  height:auto;
  width:70px;
}
.navbar-brand{padding:0 !important}
label.rb-switcher.left-position {
    float: left;
}
label.rb-switcher.right-position {
    float: right;
}
.rb-switcher{margin:0}
.rb-switcher i {
    vertical-align: middle;
    position: relative;
    top: -2px;
}
.filter-pipa {
    padding: 7px 20px;
	font-size:14pt;
    overflow: hidden;
	font-family: 'Passion One', cursive;
}
.filter-pipa img {
    height: 20px;
    top: -2px;
    position: relative;
}
.navbar-collapse a {
    text-align: left;
    padding: 10px 20px !important;
	font-family:'Passion One', cursive;
    display: block;
	font-size:15pt;
    border-top: 1px solid #eee;
}
.navbar{padding:.8rem 1rem !important}
.navbar-collapse ul{
	box-shadow:0 0 10px #000
}
.navbar-collapse ul {
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0px 12px 40px -20px #000;
}
button.navbar-toggler {
    border: 0;
    padding: 0;
}
.navbar-collapse {
    position: absolute !important;
    width: 100%;
    z-index: 999;
    left: 0;
    top: 100%;
    background: #fff;
}
.navbar-toggler:focus {
    border: 0;
    outline: none;
}
.caption-news {
    padding: 10px 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
	box-shadow:0 -90px 114px -40px #000 inset;
}
.date-news {
    text-align: left;
}
.title-news h1 {
    text-transform: uppercase;
	margin-bottom:0;
    font-family: 'Passion One', cursive;
    font-size: 1.6rem;
    text-align: left;
	line-height:0.9;
}
.list-news {
    position: relative;
}
.block-news{
	height:calc(100vh - 134px);
	width:100%;
}
.list-news {
    position: absolute;
    width: 100%;
	top:0;
    height: 50%;
    overflow: hidden;
}
.list-news:last-child {
	bottom:0;
	top:auto
}
#menu-box-id+div > div:last-child > div {
    width: 100% !important;
	height:calc(100vh - 134px) !important;
}
.image-news {
    height: auto;
    width: auto;
    min-width: 100%;
    min-height: 100%;
}
.description-news {
    text-align: left;
}
.block-news-detail .caption-news {
    position: relative;
    color: #000;
    box-shadow: none;
	padding:20px 20px 20px;
}
.block-news-detail .date-news {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
.image-news-detail {
    max-height: calc(50vh - 52px);
    overflow: hidden;
    display: block;
}
body .page-news > div,body .page-news > div > div,#menu-box-id+div.page-news > div:last-child > div,.page-news article{
    height: calc(100vh - 103px) !important;
	width:100% !important
}